

#map {
  height: 700px;
}


#logInForm {
  padding-top: 120px;
}

#registerForm {
  padding-top: 30px;
}

form {
text-align: center;
}

.checkbox-grid li {
    display: block;

}

input.button {
   width: 147px;
   text-align: center;
   margin: auto;
}


.logo {
  height: 80px;
  margin: auto;

}

.filter {
text-align: center;
padding-top: 80px;
}


#logOut   {

  margin-top: 20px;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #222;
	opacity: 0.4;
  display: block;
  margin: auto;
}
}

div.gm-style-iw {
  text-align: center;
  display: block;
}

.gm-style-iw + div { /*Hide the X from the infoWindow */
  display: none;
}

/*INFOWINDOW STYLING BELOW ///////////////////////////////////////////////////////////////////*/

.infoWindow button {
  display: block;
  margin: 0 auto;
}

/*TWITTER STYLING BELOW ///////////////////////////////////////////////////////////////////*/
