body, html {
  height: 100%;
  margin: 20px;
  padding: 0;
  display: inline-block;
}

#map {
  width: 60%;
  height: 80%;
  float: right;
  margin: 40px;
  display: inline-block;
  vertical-align: top;
  /*position: absolute;*/
}

#container {
  background: #fafafa
  display: inline-block;
  float: left;
  border: 3px solid grey;
  height: 100%;
  width: 25%;
  text-align: center;
  padding-top: 10%;
  display: inline-block;
  vertical-align: top;*/

}

input {
  padding: 8px;
  margin: 10px;
  border: 0.5px solid black;
}

.button {
  width: 131px;
  background-color: white;
}
