

#map {
  height: 700px;
}


#logInForm {
  padding-top: 50px;
}

#registerForm {
  padding-top: 30px;
}

form {
text-align: center;

}

.button {
   width: 147px;
}

.logo {
  height: 40px;
  margin-left: 165px;
  margin-top: 60px;
}

.filter {
text-align: center;
padding-top: 200px;
}
